$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$color-1: #007ca5;
$color-2: #00698b;
$color-3: #008085;
$color-4: #00cdcd;
$color-5: #00ced1;

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;



h5 {
  color: $color-2;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $main;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    background: $main-dark;
  }
}

.btn {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: $normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $form-bg;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    background: $main-light;
  }
}
.btn-blk {
  display: block;
  margin: 30px;
  width: 300px;
}
.button-block {
  display: block;
  width: 220px;
  float: right;
  margin: 30px;
}
.quiz {
  display:flex;
}


.sec-btn {

  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  width: 100% !important;
  height: 100% !important;
  outline: none;
  border-radius: 0px;
  font-size: 1rem;
  font-weight: $normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $form-bg;
  background-color: $color-3;
  color: $white;
  transition: all.5s ease;

  &:hover,
  &:focus {
    background: $main-light;
  }
}

.progress{
  -webkit-appearance: none;
  margin:10px;
  height: 50px !important;
  width: 50px !important;
  background:$color-3;
  
  -webkit-appearance: none;
}

.allQues{
  width: 900px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
  padding:40px;
  background: #ffffff;
}
