
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$color-1: #007ca5;
$color-2: #00698b;
$color-3: #008085;
$color-4: #00cdcd;
$color-5: #00ced1;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

a {
  text-decoration:none;
  color:$white;
  transition:.5s ease;
  &:hover {
    color:$gray;
  }
}

.button{
  background-color: $main;
  width: 300px;
  height: 65px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.row{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1000px;
  background-color: rgba(255,255,255,0.7);
  color:$color-1;
}
.full{
  background-image: url('/assets/img/2259.jpg');
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.col-md{
  margin:30px;
  padding-top: 30px;
  padding-bottom:30px;
  border : solid 7px $main;
  background-color: rgb(255,255,255);
}