$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$color-1: #007ca5;
$color-2: #00698b;
$color-3: #008085;
$color-4: #00cdcd;
$color-5: #00ced1;

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.btns-blk {
  margin: 50px;
  width: 250px !important;
  padding-left:15px;
  padding-right:15px;
}

.btns {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: $normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: $form-bg;
  color: $white;
  transition: all.5s ease;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    background: $main-light;
  }
}

.resDiv{
    margin-top:300px;
    max-width:40%;
    padding: 40px;
    border-radius: 10px;
    color: $color-3;
}

ng-container{
    margin-top: 20px;
    color: $color-2;
}
