/* You can add global styles to this file, and also import other style files */
$body-bg: #c1bdba;
html {
  overflow: auto;
}

body {
  background:$body-bg;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}